# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
dist/
build/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local SQLite databases
*.db
*.db-journal
sqlite.db
server/astro_player.db
server/astro_player.db-journal
